<div><img class="logo" alt="Healthcare-Logo" src="./assets/Healthcare_Logo_Short.png" width="190" />
    <h1>HEALTHCARE</h1>
</div>
<br>
<div>
    <div class="navigation-bar">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="" class="navtext">Home</a>
        &nbsp;&emsp;&nbsp;
        <ul class="no-bullets">
            <li>
        <a href="login.html" class="navtext">Login</a>
            <ul class="no-bullets">
                    <li class="loginList"><a href="patient-login" class="loginhover"> As Patient </a></li>
                    <li class="loginList"><a href="doctor-login" class="loginhover"> As Doctor </a></li>
            </ul>
        </li>
        </ul>
        &nbsp;&emsp;&nbsp;
        <a href="signup" class="navtext">Sign Up</a>
        &nbsp;&emsp;&nbsp;
        <a href="about-app" class="navtext">About App</a>
        &nbsp;&emsp;&nbsp;
        <a href="aboutdev.html" class="navtext">About Us</a>
        &nbsp;&emsp;&nbsp;
        <a href="contact.html" class="navtext">Contact Us</a>
        &nbsp;&emsp;&nbsp;
        <button onclick="location.href ='https://www.cowin.gov.in/';" class="vaccine">Click Here for
            Vaccination</button>
        </div>
</div>
<br>
<ul class="ourServices">
    <li><a href="">Book an Appointment </a><img src="./assets/book.png" width="20px"></li>
    <li><a href="">Order Medicines</a>&nbsp;<img src="./assets/ordermedicine.png" width="20px"></li>
    <li><a href="">View Health Status Reports</a>&nbsp;<img src="./assets/report.png" width="20px"></li>
    

</ul>
<!-- <img src="./assets/doctor-patient.jpg" width="100%" height="700"> -->


<footer class="copyfooter">&copy; 2021 Healthcare | All Rights Reserved</footer>

